*{
  box-sizing: border-box;
}

.box{
  width: 1300px;
  min-height: 40px;
  border: 2px solid #632633;
}

footer{
  height: 50px;
  background: #3e3e3e;
  padding: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
